body {
  /* Reseting the default here */
  margin: 0;
}

#article_wrapper {
  position: relative;
  background-color: grey;
  height: 10vh;

}

/* CSS for fade-in/fade-out effect */
.fade {
  transition: opacity 0.7s ease-in-out, visibility 0s 0.7s;
}
.button-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  z-index:0
}

#round-button {
  z-index:0;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;

}

#round-button .arrow {
  display: inline-block;
}

.button-text {
  z-index:0;
  margin-left: 10px;
  font-size: 20px;
  color: black
}

#round-button:hover {
  background-color: black;
  color: black;
}

#round-button:hover .arrow {
  color: white;
}

#canvas_wrapper {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.scroll_slide {
  color: "white";
  position: "absolute";
  width: "50vw";
  padding-left: "20px";
  z-index: "50";
}

/* App.css */
.fixed-html-element {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}
.loading{
  font-size: 30px;
  display:flex;
  justify-content: center;
  white-space: nowrap;
}
.capa{
  z-index: 99999;
  position: absolute;
  width: 9vw;
  height: 90vh;
  overflow: hidden;
}

#sheet{
  z-index:999
}

.container {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.logo {
  width: 200px; /* Adjust the size as needed */
}

.main-text {
  font-size: 24px; /* Adjust the font size as needed */
  text-align: center;
}

.sub-text {
  font-size: 16px; /* Adjust the font size as needed */
  text-align: center;
}

.button {
  padding: 10px 20px; /* Adjust the padding as needed */
}
.loader {
  --s: 20px;
  
  --_d: calc(0.353*var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  clip-path: polygon(var(--_d) 0,100% 0,100% calc(100% - var(--_d)),calc(100% - var(--_d)) 100%,0 100%,0 var(--_d));
  background:
    conic-gradient(from -90deg at calc(100% - var(--_d)) var(--_d),
     #fff 135deg,#666 0 270deg,#aaa 0);
  animation: l6 2s infinite;
}
.loader:after {
  animation-delay:-1s;
}
@keyframes l6{
  0%  {transform:translate(0,0)}
  25% {transform:translate(30px,0)}
  50% {transform:translate(30px,30px)}
  75% {transform:translate(0,30px)}
  100%{transform:translate(0,0)}
}
